<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>design</title>
  <script type="text/javascript" src="web-socket-js/swfobject.js"></script>
  <script type="text/javascript" src="web-socket-js/FABridge.js"></script>
  <script type="text/javascript" src="web-socket-js/web_socket.js"></script>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript">
    
    // Set URL of your WebSocketMain.swf here:
    WEB_SOCKET_SWF_LOCATION = "WebSocketMain.swf";
    // Set this to dump debug message from Flash to console.log:
    WEB_SOCKET_DEBUG = true;
    
    // Everything below is the same as using standard WebSocket.
    
    var ws;
    
    function crazy() {
      //addBox();
      //$('.box').show();
      $('.box').remove();
    }
    
    function addBox() {
      $('.box-template:last').clone().removeClass('box-template').prependTo('#design');
    }
    
    function log(s) {
      $('body').prepend(s);
    }
    
    function mesg(s) {
      s = s.replace(/^\s+/, "");
      s = s.replace(/\s+$/, "\n");
      s = s.replace(/\[4;36;1m/, "");
      s = s.replace(/\[0m   \[0;1m/, "\t");
      
      s = s.replace(/\[4;35;1m/, "");
      s = s.replace(/\[0m   \[0m/, "\t");
      
      s = s.replace(/\[0m/, "");
      
      // indent lines not starting with Processing
      if(s.search(/^Processing/) == -1) {
        s = "  " + s;
      } else {
        // method, action, timestamp
        // Processing SiteController#index (for 127.0.0.1 at 2010-12-07 23:49:14) [GET]
        var matches = s.match(/Processing (\w+#\w+) \(for (.*)\) \[(.+)]/);
        $('.box:first .method').text(matches[3]);
        $('.box:first .action').text(matches[1]);
        $('.box:first .timestamp').text(matches[2]);
        return; // don't add line
      }
      
      var container = $('.box:first > .content pre');
      if(s.search(/SET NAMES/) == -1 && s.search(/SET SQL_AUTO_IS_NULL/) == -1) {
        container.append(s);
      }
      
      if(s.search(/Completed/) != -1) {
        $('.content.selected').removeClass('selected');
        $('.content:first').addClass('selected');
        addBox();
      }
    }
    
    function init() {
      
      addBox();

      // Connect to Web Socket.
      // Change host/port here to your own Web Socket server.
      ws = new WebSocket("ws://localhost:10081/");

      // Set event handlers.
      ws.onopen = function() {
        output("onopen");
      };
      ws.onmessage = function(e) {
        // e.data contains received string.
        //output("onmessage: " + e.data);
        $('.box:first').show();
        var s = e.data;
        mesg(s);
      };
      ws.onclose = function() {
        output("onclose");
      };
      ws.onerror = function() {
        output("onerror");
      };
    }

    function output(str) {
      console.log("output: " + str);
      // var log = document.getElementById("log");
      // var escaped = str.replace(/&/, "&amp;").replace(/</, "&lt;").
      //   replace(/>/, "&gt;").replace(/"/, "&quot;"); // "
      // log.innerHTML = escaped + "<br>" + log.innerHTML;
    }
  </script>

  <LINK REL="stylesheet" HREF="style.css" TYPE="text/css" MEDIA="screen">
</head>
<body id="design" onload="init();">
  <div class="box">
    <div class="content">
      <p class="entry-header">
        <span class="method">POST</span> UsersController#create   &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="font-size:10px">share</a>
        <p style="margin: 0 0 10px 0; font-size:10px; color: #888">
          7:30pm from 127.0.0.1 &nbsp;&nbsp; <span style="color:rgba(255,180,0,1)">302</span> &#8594; /home
        </p>
      </p>
      <div class="entry-body" style="">
        <!-- <p>Started GET "/dashboard/index" for 127.0.0.1 at Fri Dec 03 11:02:06 -0800 2010</p>
        <p>  Processing by DashboardController#index as HTML</p> -->
        <pre><!-- Processing ReviewsController#index (for 127.0.0.1 at 2010-10-20 11:46:40) [GET] -->  Parameters
  action      index
  controller  reviews

  Review Load (2.4ms)
  <span style="font-weight: bold">SELECT * FROM "reviews" WHERE ("reviews"."status" = E'published')
  ORDER BY reviews.created_at DESC LIMIT 6 OFFSET 0</span>

  <span style="color: #bbb;"><a href="#" title="tooltip blah blah">!</a> DEPRECATION WARNING:
  <!-- <% %> style block helpers are deprecated. Please use <%= %>.
  (called from _app_views_dashboard_index_html_erb___1080317240_2201235060_0
  at /Users/jch/projects/mongobase_app/app/views/dashboard/index.html.erb:1) --></span>

  <span style="color: red">ActionController::RoutingError</span> (No route matches "/patients" with {:method=>:get}):<span style="color: #888">
  <a href="#">action_controller/routing/recognition_optimisation.rb:66:in `recognize_path'</a>
  <a href="#">action_controller/routing/route_set.rb:441:in `recognize'</a>
  <a href="#">action_controller/routing/route_set.rb:436:in `call'</a>
  <a href="#">action_controller/dispatcher.rb:87:in `dispatch'</a>
  <a href="#">more...</a>
  <!-- vendor/bundler_gems/ruby/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:121:in `_call'
  vendor/bundler_gems/ruby/1.8/gems/actionpack-2.3.5/lib/action_controller/dispatcher.rb:130:in `build_middleware_stack'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:29:in `call'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/query_cache.rb:34:in `cache'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:9:in `cache'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/query_cache.rb:28:in `call'
  vendor/bundler_gems/ruby/1.8/gems/activerecord-2.3.5/lib/active_record/connection_adapters/abstract/connection_pool.rb:361:in `call'
  vendor/bundler_gems/ruby/1.8/gems/actionpack-2.3.5/lib/action_controller/string_coercion.rb:25:in `call' -->
  </span>
  Rendering template within <a href="#">layouts/application</a>
  Rendering <a href="#">reviews/latest</a>
  Completed in 11ms (View: 5, DB: 3) | <span style="color: green">200 OK</span> <a href="#">http://localhost/</a>
        </pre>
  <!-- SQL (0.4ms)   SET client_min_messages TO 'panic'
  SQL (0.3ms)   SET client_min_messages TO 'notice' -->
      </div>
      <br class="clear"/>
    </div>
  </div>

  <div class="box-template box" style="display:none">
    <div class="selected content">
      <p class="entry-header">
        <span class="method"></span>
        <span class="action"></span>
        <p class="timestamp">
          7:30pm from 127.0.0.1 &nbsp;&nbsp; <span style="color:rgba(255,180,0,1)">302</span> &#8594; /home
        </p>
      </p>
<pre>
</pre>
    </div>
  </div>
</body>
</html>